[Unit]
Description=HashiCorp Vault secrets management server

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart={{ vault_symlink_target }} server -config={{ vault_installation_path }}/config.hcl
User={{ vault_user_name }}
LimitMEMLOCK=infinity